body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

#nav {
    width: 25%;
}

#page {
    margin-left: 25%;
}

#footer {
    margin-top: 77%;
}